<template>
  <q-card style="min-width: 400px" class="q-py-lg">
    <div class="row full-width justify-center">
      <div class="text-h4 text-weight-bold q-mb-sm text-primary">Adicionar endereço</div>
      <q-form @submit.prevent="saveAddress" class="col-10">
      <div
        v-for="(field, key ) in formAddress"
        :key="key"
        class="col-12"
        :class="field.class"
      >
        <q-input
          outlined
          v-model="field.value"
          :label="field.label"
          :error="field.error ? true : false"
          :error-message="field.error"
          :mask="field.mask"
          @input="field.onInput ? field.onInput(field.value) : null"
          :rules="[ val => field.blank || val && val.length > 0 || 'Este campo é obrigatório']"
          type="text"
        />
      </div>
        <q-btn label="Salvar" icon="save" color="primary" class="full-width q-mb-xs" padding="0.8em" no-caps type="submit" />
        <q-btn label="Cancelar" icon="close" color="red" class="full-width" padding="0.8em" no-caps @click="$emit('close')" />
      </q-form>
    </div>
  </q-card>
</template>

<script>
export default {
  props: ['contactId'],
  data () {
    return {
      zipcode: null,
      formAddress: {
        zip_code: {
          class: ['col-md-3'],
          name: 'zip_code',
          label: 'Informe o seu CEP',
          value: '',
          mask: '########',
          error: '',
          onInput: (value) => { this.zipcode = value }
        },
        street: { label: 'Endereço', value: '', error: '' },
        street_number: { class: ['col-md-3'], label: 'Número', value: '', error: '' },
        district: { label: 'Bairro', value: '', error: '' },
        complement: { label: 'Complemento', blank: true, value: '', error: '' },
        city: { label: 'Cidade', value: '', error: '' },
        state: { label: 'Estado', value: '', error: '' }
      }
    }
  },
  methods: {
    autoCompleteAddress (data) {
      this.formAddress.street.value = data.logradouro ? data.logradouro : ''
      this.formAddress.district.value = data.bairro ? data.bairro : ''
      this.formAddress.city.value = data.localidade ? data.localidade : ''
      this.formAddress.state.value = data.uf ? data.uf : ''
    },
    getAddressFromZipCode () {
      const baseUrl = 'https://viacep.com.br/ws/'
      const url = `${baseUrl}${this.zipcode}/json/`
      this.$axios.get(url).then(resp => {
        const data = resp.data
        if (!data.erro) {
          this.autoCompleteAddress(data)
        } else {
          this.autoCompleteAddress({})
          this.formAddress.zip_code.error = true
          this.formAddress.zip_code.msg = 'Cep não encontrado'
        }
      }).catch(error => {
        console.error(error)
        alert('Ops! Não foi possível obter o endereço.')
      })
    },
    saveAddress () {
      const url = 'http://localhost:8000/api/address/'
      const form = new FormData()
      form.append('contact', this.contactId)
      Object.keys(this.formAddress).forEach(key => {
        form.append(key, this.formAddress[key].value)
      })
      this.$axios.post(url, form).then(resp => {
        alert('Endereço adicionado!')
      }).catch(error => {
        error = JSON.parse(JSON.stringify(error))
        console.log(error)
        alert("não foi possível adicionar o endereço!")
      }).finally(() => {
        this.$emit('close')
      })
    }
  },
  watch: {
    zipcode: function (value) {
      if (value.length === 8) {
        this.getAddressFromZipCode()
      }
    },
  }
}
</script>

<style>

</style>
