<template>
  <q-card style="min-width: 400px" class="q-py-lg"
  :flat="contactData === null ? false : true"
  >
    <div class="row full-width justify-center">
      <div v-if="contactData === null" class="text-h4 text-weight-bold q-mb-sm text-primary">
          Adicionar contato
      </div>
      <q-form @submit.prevent="saveContact" class="col-10">
        <div class="q-gutter-sm q-mb-sm">
          <q-input
            v-for="(field, key) in form" :key="key"
            :rules="[val => !!val || 'Este campo é obrigatório']"
            :type="field.type"
            :label="field.label"
            :mask="field.mask"
            :error="form[key].value !== null && field.mask && form[key].value.length !== field.mask.length"
            :error-message="field.error"
            outlined
            v-model="form[key].value" />
        </div>
        <q-btn label="Salvar" icon="save" color="primary" class="full-width q-mb-xs" padding="0.8em" no-caps type="submit" />
        <q-btn v-if="!contactData" label="Cancelar" icon="close" color="red" class="full-width" padding="0.8em" no-caps @click="$emit('close')" />
      </q-form>
    </div>
  </q-card>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    contactData: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      form: {
        name: { label: 'Nome', value: null, type: 'text' },
        email: { label: 'Email', value: null, type: 'email' },
        phone: { label: 'Telefone', value: null, type: 'tel', mask: '(##) ########', error: 'Telefone inválido' }
      }
    }
  },
  methods: {
    saveContact () {
      let url = 'http://localhost:8000/api/contacts/'
      let method = 'post'
      if (this.contactData) {
        method = 'patch'
        url = `${url}${this.contactData.id}/`
      }
      const form = new FormData()
      form.append('name', this.form.name.value)
      form.append('email', this.form.email.value)
      form.append('phone', this.form.phone.value)
      // axios.patch
      if (this.form.phone.value.length === this.form.phone.mask.length) {
        this.$axios[method](url, form).then(resp => {
          if (this.contactData) alert('Contato atualizado!')
          else alert('Contato adicionado!')
        }).catch(error => {
          error = JSON.parse(JSON.stringify(error))
          // alert(error.response.data)
          console.log(error)
        }).finally(() => {
          this.$emit('close')
        })
      }
    }
  },
  created () {
    if (this.contactData) {
      this.form.name.value = this.contactData.name
      this.form.email.value = this.contactData.email
      this.form.phone.value = this.contactData.phone
    }
  }
}
</script>
