<template>
  <div class="row full-width justify-center">
    <q-dialog v-model="addDialog">
      <AddOrUpdateContact @close="updateList" />
    </q-dialog>
    <div v-if="contacts.length > 0" class="col-11 text-right">
      <q-btn @click="addDialog = true" label="Adicionar contato" icon="add" color="primary" push padding="0.8em" no-caps />
    </div>
    <div class="col-12 text-center bg-primary q-my-md">
      <h3 class="text-weight-bold text-white">Meus contatos</h3>
    </div>
    <div class="col-10"
      v-if="contacts.length > 0"
      >
    <div class="row full-width">
      <q-card
        v-for="(item, index ) in contacts" :key="index"
        class="col-12 col-sm-6 col-md-4 col-lg-3 flex flex-center"
        flat
        >
        <q-card-section class="full-width">
          <q-list padding bordered class="full-width">
            <q-item>
              <q-item-section avatar>
                <q-icon color="primary" name="person" />
              </q-item-section>
              <q-item-section>
                <q-item-label lines="2">
                {{item.name}}
                </q-item-label>
              </q-item-section>
                <q-item-section avatar>
                  <q-btn
                    color="primary"
                    icon="edit"
                    round flat
                    :to="{ name: 'detail', params: { idContact: item.id, contact: item }}"
                    />
                </q-item-section>
              </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon color="primary" name="email" />
              </q-item-section>
              <q-item-section>
                <q-item-label lines="2">
                  {{item.email}}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon color="primary" name="phone" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{item.phone}}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon color="primary" name="today" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{item.created_at | formateDate}}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon color="primary" name="location_on" />
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <q-btn
                    flat
                    no-caps
                    stratch
                    label="Endereços"
                    padding="0.8em"
                    color="primary"
                    :to="{ name: 'detail', params: { idContact: item.id, contact: item }}"
                    />
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <h6 v-else class="bg-red q-pa-xl text-weight-bold text-white rounded-borders">
      <div class="col-12">
        Você ainda não tem nenhum contato
      </div>
      <br>
      <div class="col-12 flex flex-center">
        <q-btn @click="addDialog = true" label="Adicionar agora" icon="add" outline no-caps />
      </div>
    </h6>
  </div>
</template>

<script>
import AddOrUpdateContact from './AddOrUpdateContact'
export default {
  components: {
    AddOrUpdateContact
  },
  filters: {
    formateDate (value) {
      return new Date(value).toLocaleString()
    }
  },
  data () {
    return {
      addDialog: false,
      contacts: []
    }
  },
  methods: {
    getContacts () {
      const url = 'http://localhost:8000/api/contacts/'
      this.$axios.get(url).then(resp => {
        this.contacts = resp.data
      }).catch(error => {
        error = JSON.parse(JSON.stringify(error))
        alert(error.response.data)
      })
    },
    updateList () {
      this.addDialog = false
      this.getContacts()
    }
  },
  created () {
    this.getContacts()
  }
}
</script>
