<template>
  <q-item>
    <q-item-section avatar>
      <q-icon color="primary" name="location_on" />
    </q-item-section>
    <q-item-section>
      <q-item-label class="text-h6 text-grey-8">
      {{address.street}}
      {{address.street_number}},
      <template v-if="address.complement">{{address.complement}},</template>
      {{address.district}},
      {{address.city}},
      {{address.state}}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  props: {
    address: {
      type: Object,
      required: true
    }
  }

}
</script>

<style>

</style>
