<template>
  <q-page class="q-pt-xl">
     <div class="row full-width justify-center">
      <q-dialog v-model="addDialog">
        <AddContactAddress :contactId="$route.params.idContact" @close="updateList" />
      </q-dialog>
      <div class="col-11 text-right">
        <div class="row justify-between">
          <q-btn to="/" icon="west" color="primary" round padding="0.8em" no-caps />
          <q-btn v-if="address.length > 0" @click="addDialog = true" label="Adicionar endereço" icon="add" color="red" push padding="0.8em" no-caps />
        </div>
      </div>
      <div class="col-12 text-center bg-red q-my-md">
        <h3 class="text-weight-bold text-white">Editar contato</h3>
      </div>
      <div v-if="contact" class="col-12 col-md-4">
        <AddOrUpdateContact :contactData="contact" />
      </div>
      <div class="col-12 col-md-6">
        <div class="row justify-center">
          <div v-if="address.length > 0" class="text-h4 text-weight-bold text-primary q-my-sm">Endereços</div>
          <div v-else class="text-h4 tex-center text-weight-bold text-primary q-my-sm">
            Sem endereços <br/> <br/>
            <q-btn
              class="q-mx-lg"
              @click="addDialog = true" label="Adicionar endereço" icon="add" color="red" push padding="0.8em" no-caps />
          </div>
        </div>
        <q-list class="flex flex-center" v-if="address.length > 0" separator>
          <div>
            <ListContactAddress v-for="a in address" :key="a.id" :address="a" />
          </div>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script>
import AddOrUpdateContact from 'components/AddOrUpdateContact'
import AddContactAddress from 'components/AddContactAddress'
import ListContactAddress from 'components/ListContactAddress'

export default {
  components: {
    AddOrUpdateContact,
    AddContactAddress,
    ListContactAddress
  },
  data () {
    return {
      contact: null,
      addDialog: false,
      address: []
    }
  },
  methods: {
    getContactAddress () {
      const url = `http://localhost:8000/api/contacts/${this.$route.params.idContact}/address/`
      this.$axios.get(url).then(resp => {
        this.address = resp.data
      }).catch(error => {
        alert('Contato não encontrado!')
      })
    },
    updateList () {
      this.addDialog = false
      this.getContactAddress()
    }
  },
  created () {
    this.getContactAddress()
    if (this.$route.params.contact){
      this.contact = this.$route.params.contact
    }else {
      const url = `http://localhost:8000/api/contacts/${this.$route.params.idContact}/`
      this.$axios.get(url).then(resp => {
        this.contact = resp.data
      })
    }
  }
}
</script>

<style>

</style>
