<template>
  <q-page class="q-pt-xl">
    <ListContacts />
  </q-page>
</template>

<script>
import ListContacts from 'components/ListContacts'
export default {
  name: 'PageIndex',
  components: {
    ListContacts
  }
}
</script>
